
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 60px;
    background-color: black;
    color: white;
    margin-bottom: 0px;
}

.footercontainer {
    position: relative;
}

#play {
    position: absolute;
    top: 1px;
    left: 700px;
    
}

.container {
    margin-top: 5px;
    margin-bottom: 10px;
}

#forward {
   position: absolute;
   top: 2px;
   left: 770px;
}

#backwards {
    position: absolute;
    top: 2px;
    left: 650px;
}

#shuffle {
    position: absolute;
    top: 2px;
    left: 610px;
}

#repeat {
    position: absolute;
    top: 2px;
    left: 810px;
}

#heart {
    position: absolute;
    top: 10px;
    left: 200px;
}

#queue {
    position: absolute;
    top: 10px;
    left: 1250px;
}

#device {
    position: absolute;
    top: 10px;
    left: 1280px;
}

#volume {
    position: absolute;
    top: 10px;
    left: 1310px;
}

progress {
    position: absolute;
    display: inline-block;
    width: 30%;
    max-height: 5px;
    left: 490px;
    top: 60px;
    background: white;
    border-radius: 50px;
}

progress::-webkit-progress-value {
  background: grey;
  border-radius:100px;
}

progress::-moz-progress-bar {
  background: white;
  border-radius:100px;
}

progress::-webkit-progress-value {
  background: white;
  border-radius:100px;
}

progress::-webkit-progress-bar {
  background: grey;
  border-radius:100px;
}

.holder {
      display: inline;
    }
    .holder img {
        position: absolute;
        top: 10px;
        left: 5px;
      max-height: 65px;
      max-width: 65px;
      object-fit: cover;
      margin-left: 20px;
    }
 

#volumeprogress {
    position: absolute;
    display: inline-block;
    width: 5%;
    max-height: 5px;
    left: 1350px;
    top: 40px;
    background: white;
    border-radius: 50px;
}

.albumname {
    position: absolute;
    top: 15px;
    left: 100px;
    
}

.albumname h4 {
    font-size: 11px;
}

.albumname h3 {
    font-size: 15px;
}

.minutes h5 {
    position: absolute;
    top: 45px;
    left: 430px;
    font-size: 11px;
}

.minutes h6 {
    position: absolute;
    top: 45px;
    left: 960px;
    font-size: 11px;
}


=======

.opening-sect {
  background: linear-gradient(
    180deg,
    rgb(63, 7, 7) 0%,
    rgba(18, 18, 18, 255) 60%
  );
  background-repeat: no-repeat;
}

.home-body {
  background-color: rgba(18, 18, 18, 255);
  font-family: Arial, Helvetica, sans-serif;
}

h2,
h3 {
  color: white;
  font-weight: 600;
  font-size: 0.8rem;
}

h2.section-heading-morning {
  font-size: 1rem;
}

.section-heading-recommended {
  display: block;
}

.subheading-recommended {
  display: block;
}

.album-card {
  background-color: rgba(24, 24, 24, 255);
  color: white;
  max-height: 15rem;
  padding: 0;
  line-clamp: 2;
}

.album-card-img {
  padding: 0.5rem;
  padding-bottom: 0;
  border-radius: 10%;
}

.album-card h5 {
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0px;
}

.album-card p,
h3,
h4 {
  font-size: 0.6rem;
}

.album-card p {
  padding: 0px;
}

h4 {
  color: white;
  font-weight: 600;
}

.title-row {
  justify-content: space-between;
}

.morning-card {
  display: flex;
  flex-direction: row;
  background-color: rgba(100, 97, 97, 0.267);
  color: white;
  /* font-size: 0.2rem; */
  width: 100%;
  height: 3rem;
  align-items: center;
  border-radius: 3%;
  margin-bottom: 0.5rem;
}

.morning-card img {
  width: 2.5rem;
}

.morning-card h5 {
  padding-left: 0.5rem;
  font-size: 0.6rem;
  font-weight: 600;
}

.sidebar-container {
  height: 100%;
}
.sidebar {
  height: 80%;
  width: 300px;
}
#scroll {
  background-color: rgb(41, 32, 32);
}

